<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>webpack 测试页面</title>
</head>

<body>
  <!-- index.html 中可以直接使用 public 目录中的内容 -->
  <!-- 因为 index.html 和 public 中的文件都会被拷贝到 dist 目录中 -->
  <!-- 虽然可以这样用， 但是并没有感受到这样用带来的便利 -->
  <!-- <img src="login.png" alt=""> -->

  <!-- 使用 CDN 引入 JQ -->
  <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
    crossorigin="anonymous"></script>
</body>

</html>